* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color: #000;
}
/* .header {

} */

.header .nav {
    height: 46.5px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav .nav__items {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav__items .nav__item {
    position: relative;
}

.nav__items .nav__item > a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 24px;
    line-height: 46.5px;
    display: block;
}

.nav__items .nav__item:hover {
    background-color: #ccc;
}

.nav__items .nav__item:hover >a {
    color: #000;
}

.nav__item .sub-menu {
    background-color: #fff;
    display: none;
    min-width: 160px;
    position: absolute;
}

.sub-menu .sub-menu__item {
    color: #000;
    list-style: none;
    padding: 8px 16px;
    line-height: 1.5;
}

.sub-menu .sub-menu__item:hover {
    background-color: #ccc;
}

.nav__items .nav__item:hover > .sub-menu {
    display: block;
}

.nav .search-button {
    padding: 0 24px;
    color: #fff;
    line-height: 46.5px;
}

.nav .search-button:hover {
    background-color: red;
}

.caption {
    text-align: center;
    font-size: 20px;
    color: white; /* Màu chữ */
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px; /* Khoảng cách giữa chữ và viền */
  }

.band {
    max-width: 800px;
    padding-top:64px !important ;
    padding-bottom: 64px !important;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;

}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.band .content-section {
    justify-content: center;
    letter-spacing: 4px;
    padding-bottom: 10px;
}
.band .section-sub-hesding{
    opacity: 0.60;
}
.band .about-text{
    text-align: justify;
}
.three_avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:32px ;
    padding-bottom: 32px;
}
.one, .two, .three {
    flex: 1; 
    
    text-align: center; 
}

.one img, .two img, .three img {
    width: 60%;
    border-radius: 4px;
}
.one:hover img,
.two:hover img,
.three:hover img {
    transform: scale(1.5);
    transition: transform 0.3s;
}
.tour {
    color: #fff !important;
    background-color: #000;
}
.tour-container{
    max-width: 800px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    margin-left: auto;
    margin-right: auto;
}
.tour .tour-title{
    padding-top: 34px;
    text-align: center !important;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 30px;
    margin: 10px 0;
}
.tour .tour-content{
    opacity: 0.60;
    text-align: center;
}
.tour .w3-ul{
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc !important;
    background-color: #fff;
    color: #757575;
}
.w3-ul li {
    font-size: 15px;
    padding: 12px 16px;
    border-bottom:1px solid #ccc ;
}
.sold-out{
    color: #fff !important;
    background-color: #f44336 !important;
    margin-left: 16px !important;
    display: inline-block;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}
.span-3{
    float: right !important;
    margin-right: 16px !important;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}
.tour-buy{
    display: flex ;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    padding: 0 8px;

}
 .buy-1, .buy-2 ,.buy-3{
    padding: 0 5px;
    width: 33.333%;
    margin-bottom: 16px !important;
}
.buy-1 img,
.buy-2 img,
.buy-3 img{
    vertical-align: middle;
    border-style: none;
}
.content-buy{
    color: #000;
    background-color: #fff;
    padding: 0.01em 16px;
}
.button-buy{
    background-color: #000;
    color: #fff;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin-bottom: 16px !important;
}
.button-buy:hover{
    color: #000;
    background-color: #757575;
}
.contact{
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    padding: 0.01em 16px;
    margin-left: auto;
    margin-right: auto;
}
.title-contact{
    text-align: center !important;
    letter-spacing: 4px;
    font-size: 30px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 100;
}
.fan-contact{
    text-align: center !important;
    opacity: 0.60;
}
.content-contact{
    display: flex;
    padding-top:32px !important ;
    padding-bottom: 32px !important;
}
.inf-contact{
    flex: 1;
}
.inf-user{
    position: relative;
    flex: 1;
}
.name-mail{
    display: flex;
    margin-left: 8px;
}
.input-name{
    width: 49%;
}
.input-mail{
width: 49%;
}
.input{
    border: 1px solid #ccc;
    padding: 8px;
    display: block;
    width: 95%;
}
.input-mess{
    position: absolute;
    width: 103%;
    border: 1px solid #ccc;
    padding: 8px;
    left: -15px;
    display: block;
}
.btn-contact{
    position: absolute;
    bottom: -90%;
    right: 0;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.btn-contact:hover{
    color: #000;
    background-color: #757575;
}